<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="header :: header">...</div>
<div th:switch="${articles}" class="main">
    <h2 th:case="null">No article found!</h2>
    <div th:case="*">
        <h2>Articles</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.text}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/article-create">Create article</a></p>
</div>


</body>
</html>